.Wrapper
  width: 100vw
  height: 100vh
  background: -webkit-linear-gradient(90deg, #959ffe,#3cc0ff)
  background: linear-gradient(90deg, #959ffe,#3cc0ff)
  overflow: hidden
  place-items: center
  display: grid

.form
  color: white
  display: flex
  flex-direction: column
  width: 400px
  background: rgba(255,255,255,0.22)
  padding: 30px
  border-radius: 15px
  border: 1px solid white
  @media (max-width: 500px)
    width: 70%