.sendButton
  border: none
  background: none
  color: var(--primaryBGcolorvar2)
  rotate: 90deg
  aspect-ratio: 1 / 1
  font-size: 1.8rem
  border-radius: 50%
  display: grid
  place-items: center
  cursor: pointer
  transition: .3s
  text-align: center
  font-family: Arial, sans-serif
  @media (max-width: 500px)
    font-size: 1.7rem
  &:hover
    transition: .3s
    color: var(--MainColor)

.sendMessage
  width: 100%
  min-height: 60px
  max-height: 150px
  display: flex
  justify-content: space-between
  padding: 5px 25px
  box-sizing: border-box
  border-top: 2px solid var(--hoverColor)
  gap: 20px
  @media (max-width: 500px)
    padding: 10px 5px
    gap: 5px
  textarea
    padding: 10px
    width: 90%
    resize: none
    border: none
    border-radius: 15px
    font-size: 1.1rem
    color: rgba(255,255,255,0.54)
    background: var(--primaryBGcolorvar2)
    scrollbar-color: var(--hoverColor) transparent
    &::-webkit-scrollbar
      background: transparent
    &::-webkit-scrollbar-thumb
      background: var(--hoverColor)
      border-radius: 15px
    @media (max-width: 500px)
      width: 100%
      font-size: .9rem

.SendButtonPos
  height: 100%
  display: grid
  place-items: center