.asideMenu
  height: 100%
  width: 80px
  border-right: var(--border)
  display: flex
  flex-direction: column
  transition: .4s
  @media (max-width: 768px)
    flex-direction: row
    height: 60px
    width: 100%
    border-right: none
    border-top: var(--border)
