.asideMenu
  height: 100%
  display: flex
  flex-direction: column
  transition: .4s
  flex: 0 0 75px
  background: var(--primaryBGcolor)
  @media (max-width: 768px)
    flex-direction: row
    width: 100%
    flex: 0 0 40px
    padding: 5px 0
    border-radius: 0


