.asideMenu
  height: 100%
  width: 80px
  display: flex
  flex-direction: column
  transition: .4s
  background: var(--primaryBGcolor)
  @media (max-width: 768px)
    flex-direction: row
    height: 60px
    width: 100%
    border-top-right-radius: 20px
    border-top-left-radius: 20px

