@import 'https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'


.Settings
  display: flex
  justify-content: center
  width: 100%

.content
  width: clamp(600px, 70%, 1500px)
  @media (max-width: 1024px)
    width: clamp(600px, 80%, 1500px)
  @media (max-width: 620px)
    width: 90%

.ClearText
  width: 100%
  display: grid
  place-items: center
  color: var(--MainColor)
  font-size: 1rem
  @media (max-width: 500px)
    font-size: .85rem