.UserData
  span
    color: var(--MainColor)
    display: flex
    flex-direction: column
    height: 100%
    justify-content: center
    margin-left: 25px
    gap: 5px
    @media (max-width: 500px)
      margin-left: 5%
    p
      padding: 0
      margin: 0
      &:nth-child(2)
        color: rgba(255,255,255,0.54)