.UserInfo
  width: 100%
  height: 100%
  p
    opacity: .7
  @media (max-width: 768px)
    font-size: .8em

.loading
  span
    color: transparent
    animation: loadingAnim 1s linear infinite alternate

@keyframes loadingAnim
  from
    background: rgb(202, 202, 202)
  to
    background: rgba(105,105,105,1)