.Info
  width: 100%
  display: flex
  gap: 10px
  section
    width: auto
    display: flex

.Text
  p
    &:nth-child(1)
      font-size: 1.3rem
      @media (max-width: 768px)
        font-size: 16px
    &:nth-child(2)
      font-size: .9rem
      @media (max-width: 768px)
        font-size: .7em

.Actions
  display: flex
  align-items: center
  justify-content: flex-end
  flex: 1
  max-width: 40%
  gap: 15px
  flex-wrap: wrap