.Background
  width: 100vw
  height: 100vh
  background: rgba(0,0,0,0.6)
  z-index: 2
  position: absolute
  display: grid
  place-items: center

.content
  background: var(--primaryBGcolor)
  border-radius: 15px
  box-shadow: 0 0 10px var(--primaryBGcolor)
  color: var(--MainColor)
  padding: 15px 0

  //linear-gradient(90deg, #006880 10.79%, #005366 87.08%)