\:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height: 1.5
  font-weight: 400
  --border: none //1px solid var(--primaryColor)
  touch-action: none
  -webkit-tap-highlight-color: transparent

body,
#root,
:root
  min-width: 100vw
  min-height: 100vh
  padding: 0
  margin: 0
  overflow-x: hidden
  touch-action: none
  position: relative

#modal
  z-index: 10

body
  background: var(--bodyBGcolor)

\:root[data-theme='darkmode']
  --mainBGcolor: rgb(19, 19, 19)
  --primaryBGcolor: rgb(19, 19, 19)
  --bodyBGcolor: rgb(24, 26, 47)
  --hoverColor: rgba(255,255,255,0.1)
  --secondaryColor: rgb(32, 35, 42)
  --invertFilter: invert(90%)
  --MainColor: white
  --redColor: rgba(255,26,21,0.67)
  @media (max-width: 768px)
    --mainBGcolor: rgb(32, 35, 42)

\:root[data-theme='lightmode']
  --invertFilter: invert(0)
  --hoverColor: #4487a2


//linear-gradient(90deg, #006880 10.79%, #005366 87.08%);
//linear-gradient(90deg, #2870EA 10.79%, #1B4AEF 87.08%)