\:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height: 1.5
  font-weight: 400
  --border: none //1px solid var(--primaryColor)
  touch-action: none
  -webkit-tap-highlight-color: transparent

body,
#root,
:root
  min-width: 100dvw
  min-height: 100dvh
  padding: 0
  margin: 0
  overflow: hidden
  touch-action: none
  position: relative

#modal
  z-index: 10

body
  background: var(--mainBGcolor)

\:root[data-theme='darkmode']
  --mainBGcolor: rgb(19, 19, 19)
  --primaryBGcolor: rgb(19, 19, 19)
  --primaryBGcolorvar2: #aea7a9
  --hoverColor: rgba(255,255,255,0.1)
  --transparetColor: rgba( 255, 255, 255, 0.05 )
  --secondaryColor: rgb(32, 35, 42)
  --invertFilter: invert(90%)
  --MainColor: white
  --InvertMainColor: black
  --secondaryTextColor: rgba(255,255,255,0.48)
  --redColor: rgba(255,26,21,0.67)
  --greenColor: rgba(10,134,12,1)
  @media (max-width: 768px)
    --mainBGcolor: rgb(32, 35, 42)

\:root[data-theme='lightmode']
  --mainBGcolor: #e3e0de
  --primaryBGcolor: #e3e0de
  --secondaryColor: #ededed
  --primaryBGcolorvar2: #aea7a9
  --invertFilter: invert(0)
  --hoverColor: rgba(0,0,0,0.1)
  --secondaryTextColor: rgba(0,0,0,0.48)
  --InvertMainColor: white
  --MainColor: black
  --redColor: rgba(255,26,21,0.87)
  --transparetColor: rgb(0, 0, 0, 0.05)
  --greenColor: rgba(10,134,12,0.47)
  @media (max-width: 768px)
    --mainBGcolor: #ededed




//linear-gradient(90deg, #006880 10.79%, #005366 87.08%);
//linear-gradient(90deg, #2870EA 10.79%, #1B4AEF 87.08%)

  background-color: #e499ff
  background-image: radial-gradient(at 47% 69%, hsla(17,62%,65%,1) 0px, transparent 50%), radial-gradient(at 9% 32%, hsla(222,75%,60%,1) 0px, transparent 50%)