.ButtonPos
  width: 100%
  display: grid
  place-items: center
  height: 50px

.form
  color: white
  display: flex
  flex-direction: column

.reset
  width: 150px
  animation: none
  opacity: 1
  &:hover
    text-decoration: underline